.landing_background {
  background-image: url('./Landing_New.jpg');
  background-size: 100% auto;
  width: 100%;
  height: 400vh; /* Set the height of the container to auto for content-based height */
}

.spacer {
  height: 4000px; /* Adjust the height as needed to trigger scrolling */
}

.landing_logo {
  width: 700px; 
  height: auto; 
  margin: 20px; 
  margin-left: 1100px;
  margin-top: 320px;
}

.text-under-logo1 {
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff; 
  margin: 0px;
  margin-left: 950px;
  margin-top: 50px;
  line-height: 0; 
  padding: 0px 0; 
}


.cta-button {
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  color: #ff00ff;
  padding: 20px 80px;
  font-size: 26px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 1250px;
}

.text-team {
  font-size: 68px;
  font-family: 'Josefin Sans', sans-serif;
  color: #e04ee0;
  margin: 0px;
  margin-left: 730px;
  margin-top: 2250px;
  line-height: 0; 
  padding: 0px 0;
}

.imgContainer {
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #aa14aa;
  display: inline-block;
  padding-top: 50px;
  padding-left: 300px;
}

.imgContainer2{
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #aa14aa;
  display: inline-block;
  padding-left: 200px;
  padding-top: 50px;
}

.image123 {
  display: flex;
}

.imgContainer,
.imgContainer2 {
  text-align: center;
  margin: 10px;
}

.smaller-text {
  font-size: 20px;
  color: #c9286b;
}

.imgContainer p {
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #aa14aa;
  display: block;
  margin: 5px 0; /* Adjust the margin to control the spacing */
}

.imgContainer2 p {
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #aa14aa;
  display: block;
  margin: 5px 0; /* Adjust the margin to control the spacing */
}