.delete-account-title{
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(120, 65, 192);
    margin-left: 600px;
}

.logout-title{
    position: absolute;
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(120, 65, 192);
    margin-left: 1160px;
    margin-top: -60px;
}


#delete-account-button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    width: 350px;
    height: 80px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(120deg, rgb(224, 35, 35), rgb(207, 82, 82),  rgb(214, 76, 180), rgb(190, 28, 240));
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    margin-left: 540px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#delete-account-button:hover {
    background-position: 0 0;
}