/* Login Container */
.login-container {
    margin: 0 auto;
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 960px;
  }
  
  /* Login Title */
  .login-title3 {
    font-family: 'Josefin Sans', sans-serif;    
    color: #a81d8a;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: -30px;
    text-align: center;
  }
  
  .standard_logo-login{
    height: 90px;
    width: auto;
    margin-left: 180px;
    margin-bottom: 30px;
  }

  /* Rounded Input */
  .rounded-input {
    font-family: 'Josefin Sans', sans-serif;    ;
    width: 500px;
    padding: 15px;
    margin: 5px 0;
    margin-left: 60px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
  }
  
    .rounded-input-email {
    font-family: 'Josefin Sans', sans-serif;    ;
    width: 500px;
    padding: 15px;
    margin: 5px 0;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
  }
  
  .rounded-input:focus {
    border: 1px solid purple !important;
    outline: none; 
}
  
    .rounded-input-email:focus {
    border: 1px solid purple !important;
    outline: none; 
}
  
  /* Login Button */
  .login-button {
    font-family: 'Josefin Sans', sans-serif;    ;
    width: 400px;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 120px;
    margin-top: 30px;
    background: linear-gradient(120deg, rgb(35, 196, 224), rgb(220, 20, 170), rgb(255, 0, 119));
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .login-button:hover {
    background-position: 0 0;
  }

  /* Register Button */
  .reg-button {
    font-family: 'Josefin Sans', sans-serif;    ;
    width: 100%;
    padding: 10px;
    margin-top: 170px;
    margin-left: -30px;
    color: rgb(204, 0, 255);
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .new-user {
    color: grey;
  }
  
  .space {
    color: rgb(255, 255, 255);
  }

  /* CSS for "Sign Up Here" */
  .sign-up-here {
    color: rgb(206, 31, 206);
  }

  /* Login Result Message */
  .login-result {
    text-align: center;
    color: red;
  }
  
  .button-login{
  z-index: 99;
  cursor: pointer;
  }
  
  .forgot-password-button{
    font-family: 'Josefin Sans', sans-serif;    ;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: -30px;
    color: rgb(180, 54, 169);
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: none;
  opacity: 0;
  animation: fadeIn 1.3s ease both;
  backdrop-filter: blur(20px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay.active {
  display: block;
  opacity: 1;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
 height: 350px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 width: 600px;
}

.popup-overlay::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.popup h3 {
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(180, 54, 169);
  font-size: 24px;
}

.popup button {
   font-family: 'Josefin Sans', sans-serif;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(120deg, rgb(35, 196, 224), rgb(220, 20, 170), rgb(255, 0, 119));
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-left: -450px;
    margin-top: 150px;
}

.popup button:hover {
    background-position: 0 0;
}

.stacked-input {
  font-family: 'Josefin Sans', sans-serif;
  width: 90%; 
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
}

.stacked-input:focus {
  border: 1px solid purple !important;
  outline: none;
}

.popup-message{
font-family: 'Josefin Sans', sans-serif;
color: red;
}


.login-result{
font-family: 'Josefin Sans', sans-serif;
color: red;
position: absolute;
margin-left: -440px;
}

.error-message{
font-family: 'Josefin Sans', sans-serif;
color: red;
}